<%- include('../partials/header.ejs')%>
<main>
    <div class="body">
        <h2><%= events.title%></h2>&nbsp;<a href="edit"><img src="/images/edit.png"></a>&nbsp;<img src="/images/delete.png"><br>
        <img class="events" src="<%= events.img%>" alt="events">
        <h3>Host: </h3><p><%= events.hostName%></p><br>
        <h3>Date and Time: </h3><p><%= events.start%></p><br>
        <h3>Location: </h3><p><%= events.location%></p><br>
        <h3>Details: </h3><p><%= events.details%></p>
    </div>
</main>
<%- include('../partials/footer.ejs')%>