<%- include('../partials/header.ejs')%>
<main>
    <div class="body">
        <h2><%= event.title%></h2>&nbsp;<a href="edit"><img src="../../public/images/edit.png"></a>&nbsp;<img src="../../public/images/delete.png"><br>
        <img class="events" src="<%= event.img%>" alt="events">
        <h3>Host: </h3><p><%= event.hostName%></p><br>
        <h3>Date and Time: </h3><p></p><br>
        <h3>Location: </h3><p><%= event.location%></p><br>
        <h3>Details: </h3><p><%= event.details%></p>
    </div>
</main>
<%- include('../partials/footer.ejs')%>