<%- include('../partials/header.ejs')%>
<main>
    <div class="body">
        <h2><%= event.category%></h2>
        <ul class="links">
            <li><a href="<%= event.id>"><%= event.title%> - <%= event.date%></a></li>
            <li><a href="<%= event.id"><%= event.title%> - <%= event.date%></a></li>
            <li><a href="<%= event.id"><%= event.title%> - <%= event.date%></a></li>
        </ul>
        <h2><%= event.category%></h2>
        <ul class="links">    
            <li><a href="<%= event.id"><%= event.title%> - <%= event.date%>h</a></li>
            <li><a href="<%= event.id"><%= event.title%> - <%= event.date%></a></li>
            <li><a href="<%= event.id"><%= event.title%> - <%= event.date%></a></li>
        </ul>
    </div>
</main>
<%- include('../partials/footer.ejs')%>