<%- include('../partials/header.ejs')%>
<main>
    <div class="body">
        <div class="editform">
            <h2><%= events.title%></h2>&nbsp;
        </div>
        <img class="events" src="<%= events.image%>" alt="events">
        <h3>Host: </h3><p><%= events.author.firstName%></p><br>
        <h3>Start Time:</h3><p><%= events.startTime%></p><br>
        <h3>End Time:</h3><p><%= events.endTime%></p><br>
        <h3>Location: </h3><p><%= events.location%></p><br>
        <h3>Details: </h3><p><%= events.details%></p>
    </div>
</main>
<%- include('../partials/footer.ejs')%>