<%- include('../partials/header.ejs')%>
<main>
    <div class="body">
			<% for(let i=0; i < categories.length; i++) { %>
                <h3><%= categories[i]%></h3><br>
                <div class="links">
                    <% const categoryEvents = events.filter(event => event.category === categories[i]); %>
                    <% if(categoryEvents.length) { %>
                        <% categoryEvents.forEach(event => { %>
                            <p><a id="special" href="/event/<%= event._id%>"><%= event.title%> - <%= event.startTime%></a></p>
                        <% }); %>
                    <%}else{%>
                        <p>You have no events to display.</p>
                    <%}%>
                </div>
            <% } %>
    </div>
</main>
<%- include('../partials/footer.ejs')%>