<%- include('../partials/header.ejs')%>
<main>
    <div class="body">
        <h2>Welcome, <%=user.firstName%> <%=user.lastName%></h2>
        <ul id="events">
            <%if(events.length){%>
                <%events.forEach(event=>{%>
                        <h3><%=event.title%></h3>&nbsp;
                        <form class="editform1">
                            <button type="submit" formmethod="GET" formaction="/event/<%= event._id%>/edit"><img src="/images/edit.png"></button>
                            <button type="submit" formmethod="POST" formaction="/event/<%= event._id%>?_method=DELETE"><img src="/images/delete.png"></button>
                        </form><br>
                    <%})%>
            <%}else{%>
                <p>You have no events to display.</p>
            <%}%>
        </ul>
    </div>
</main>
<%- include('../partials/footer.ejs')%>